.contacto-page {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}